[Unit]
# https://www.shellhacks.com/systemd-service-file-example/
Description=Starmap-obe
After=systemd-time-wait-sync.service
Wants=systemd-time-wait-sync.service

[Service]
Type=simple
WorkingDirectory=/home/pi/starmap-obe/examples/StarmapRPiZero/
ExecStart=/home/pi/starmap-obe/examples/StarmapRPiZero/run.sh
TimeoutStopSec=30
KillSignal=SIGINT
User=root
Group=root
Restart=on-failure
RestartSec=15

[Install]
WantedBy=multi-user.target
